body {
    font-family: Arial, sans-serif;
    background-image: url(img/BGIMG.jpg);
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.login-container h2 {
    margin-bottom: 10px;
}
.input-group {
    margin-bottom: 15px;
}
.input-group label {
    display: block;
    margin-bottom: 5px;
}
.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.input-group button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

#registerbtn {
    color:aliceblue
}


.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    padding-right: 50px;
}
.navbar-light .bavbar-brand{
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.navbar-light .bavbar-brand:focus,
.navbar-light .bavbar-brand:hover{
    color: #000;
}

.navbar-light .navbar-nav .navbar-link{
    color: #000;
}
.section-header {
    color: aliceblue;
}

.nav-item {
    padding-right: 50px;
    margin: 0;
}

